body, header, footer, nav, h1, h2, p, a{
	border:0;
	margin:0;
	padding:0;
}

/*Header/////////////////////////////////////////////*/
header h1{
	font-size:50px;
}
header img{
	width:200px;
}
/*NAV////////////////////////////////////////////////*/
nav{
	font-size:30px;
}
/*Body///////////////////////////////////////////////*/
body{
	background-color: LightBlue;
}

#certifications ol{
	list-style-type: none;
}

#certifications img{
	display: inline-block;
	float: left;
	width: 31%;
	padding: .5em;
	
}

#things-i-like{
	clear: both;
}